<!-- Logo -->
<div class="logo-container header-left-right">
    <img src="logo.png" alt="Logo La Mesa Limpia">
</div>

<!-- Navbar -->
<nav>
    <ul>
        <li>
            <a [routerLink]="['arroces']" routerLinkActive="active-link">Arroces</a>
        </li>

        <li>
            <a [routerLink]="['carnes']" routerLinkActive="active-link">Carnes</a>
        </li>

        <li>
            <a [routerLink]="['postres']" routerLinkActive="active-link">Postres</a>
        </li>
        
    </ul>
</nav>
