/* Global styles */
*{
    font-family: 'Space Grotesk', Arial, Helvetica, sans-serif;
}

body{ margin: 0; background-color: black; color: white; }

main, footer{ padding: 0 2vw; }

a{ text-decoration: none; }
a, a:visited{ color: inherit }

p{ margin: 0; }

ul{ padding: 0; }
li{ list-style: none; }

/* Header */
header{ width: 100%; border-bottom: solid 2px white;}

header nav{
    height: 8vh;

    display: flex;
    justify-content: center;
}

header .logo-container{ height: 13vh; display: flex; align-items: center; justify-content: center;}
header .logo-container img{ height: 90%; transition: ease all 200ms;}
header .logo-container img:hover{ height: 95%; }

header ul{
    width: 40%;
    min-width: fit-content;

    display: inline-flex;
    justify-content: space-around;
    align-items: center;

    text-transform: uppercase;
    font-size: 2.25vh;
    font-weight: 700;
}

header ul li{ padding: 0.1vh 1vw; transition: ease all 150ms; }

header ul li:hover, .active-link{ color: burlywood !important; }

/* Main */
main{ min-height: 60vh; width: 90%; margin: 6vh auto; }
main .productos h1, main .plato-container h1{ text-transform: uppercase; }

/* --Página grid productos-- */
.products-grid{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(25em, 1fr) );
    gap: 2vh 2vw;
}

.products-grid article, .products-grid article .plato-container{ max-height: 20vh; }

.products-grid article .plato-container{
    height: 100%; 
    max-height: 100%;
    width: 100%;

    display: inline-flex;

    gap: 3vw;
    border-bottom: solid 2px white;

    transition: ease all 150ms;
}

.products-grid article .plato-container:hover { background-color: rgb(30, 30, 30); transform: scale(1.025); }

.productos-grid h1{ font-size: 2.5vh; font-weight: 400; }

/* -Imagen- */
.products-grid article .img-container{ height: 100%; width: 40%; min-width: 40%; }

.products-grid article .img-container img{ height: 100%; width: 100%; object-fit: cover; }

/* -Info- */
.products-grid .info-container{ display: flex; flex-direction: column;}

/* --Nombre plato */
.products-grid article .plato-container:hover .nombre{ font-weight: 700; color: burlywood}
.products-grid .nombre{ font-size: 2.5vh; font-weight: 400; margin: 0.75vh 0;}

/* --Alérgenos */
main .alergenos { display: inline-flex; padding: 0.85vh 0 0.1vh 0;}
main .alergenos .alergeno-container img{ width: 100%; }
.products-grid .alergenos .alergeno-container{ width: 3.5vh; }

/* --Precio */
.products-grid .precio { 
    height: 100%; 

    margin-bottom: 0.75vh;

    display: flex; 
    align-items: end; 

    font-size: 4.25vh; 
    font-weight: 200;
    color:blanchedalmond;
}

/* --Página de producto-- */
.producto{ width: 100%; display: flex; justify-content: center;}

.producto-container{ min-width: 700px; max-width: 60vw; display: inline-flex; padding: 5vh 0; }

/* --Imagen */
.producto-container .img-container{ max-height: 50vh; width: 35%; min-width: 35%; }
.producto-container .img-container img{ height: 100%; width: 100%; object-fit: cover; }

/* -Info- */
.producto-container .info-container{ display: flex; flex-direction: column; padding-left: 2vw; border-bottom: solid 2px white;}

/* --Nombre del plato */
.producto-container .nombre{ max-height: fit-content; text-transform: uppercase; font-size: 4vh; font-weight: 400; text-wrap: nowrap; margin: 0; }
.producto-container .volver-categoria{ margin: 0.5vh 0; font-size: 2.25vh; font-weight: 300; color:blanchedalmond; }
.producto-container .volver-categoria:hover{ text-decoration: underline; }

/* --Alérgenos */
.producto-container .alergenos .alergeno-container{ width: 5vw; max-width: 40px; }

/* --Descripción */
.producto-container .descripcion-container{
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: end;
}
.producto-container .descripcion-titulo{ margin: 1vh 0; color: burlywood; font-weight: 500; }
.producto-container .descripcion{ font-size: 2vh; }

/* --Precio */
.producto-container .precio { 
    height: 100%;

    display: flex;
    align-items: flex-end;

    padding-top: 1vh;

    font-size: 4rem; 
    font-weight: 400;
    color:blanchedalmond;
}

/* Footer */
footer{ margin: 10vh auto 0 auto; border-top: solid 2px;}
footer *{ max-height: 100%; }

footer .footer{ display: flex; justify-content: space-around; margin: 2vh auto; }

/* -Logo- */
footer .logo-container { max-width: 500px; display: flex; flex-direction: column; justify-content: space-between; align-items: center;}
footer .logo-container img{ width: 90%; max-width: 180px }

footer .logo-container .footer-bottom{ margin: 1vh 0.5vw 0 0.5vw; text-align: center; color:rgb(255, 255, 255) }
footer .logo-container .footer-bottom .rest-name{ color: burlywood; font-weight: 600;}

/* -Content- */
footer .footer-content { width: 50%; padding: 0 4vw; border-left: solid 1px; }

footer .footer-content nav{ display: flex; justify-content: space-between; align-items:stretch; gap: 2vw; }

footer h3{ text-wrap: nowrap; color: blanchedalmond; margin: 1vh auto;}

footer .footer-content ul{ margin: 0.5vh auto; }
footer .footer-content p { padding-bottom: 0.1vh; font-weight: 300; }

footer .restaurante .localidad { font-size: 2vh; font-weight: 600; color:burlywood }

footer .hashtag{ color: burlywood; text-decoration: underline; }

footer .social-media a{ display: inline-flex; align-items: center; padding-right: 1vw; transition: ease all 200ms; height: 16px;}
footer .social-media a:hover{ color: blanchedalmond; }

/* Media Query para móvil */
@media (max-width: 768px) {

    main{ margin: 2vh auto; }

    /* Página de producto */
    .producto-container {
        flex-direction: column;
        align-items: center;
        min-width: 0;
        max-width: 90%;

        padding: 2.5vh 2.5vw;
        gap: 0;
    }

    .producto-container .img-container {
        max-height: 35vh;
        width: 100%;
        min-width: 100%;
    }

    .producto-container .info-container {
        padding: 2.5vh 2.5vw;
        border: solid 2px white;
        border-top: none;
    }

    .producto-container .nombre{ text-wrap: wrap; }

    /* Footer */
    footer .footer-content nav{ flex-direction: column; }
    footer .logo-container { max-width: 50%; }

}